@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$color-theme: (
	primary: #26A5FF,
	secondary: #BDE4FF,
	background: #E2E2E2,
);

@function theme($color-name) {
	@return map-get($map: $color-theme, $key: $color-name)
}

body {
    height: 100%;
    background: theme(primary);
}

main {
    background: white;
    width: 60%;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    font-family: 'Roboto';

    div {
        flex: 1;
        text-align: center;
        margin-bottom: 15vh;

        h1 {
            color: theme(primary);
            font-size: 3rem;
            margin-top: 60%;
        }

        p {
            color: darken(theme(background),35);
        }

        &#right {
            a {
                text-decoration: none;
                cursor: pointer;
                button {
                    cursor: pointer;
                    color: white;
                    display: block;
                    margin: auto;
                    font-family: inherit;
                    font-size: 1.5rem;
                    border-radius: .5rem;
                    padding: .5rem 1rem;
                    border: 2px solid theme(primary);
                }
            }

            a#login {
                button {
                    background: theme(primary);
                    margin-top: 60%;
                    margin-bottom: .2rem;
                }
            }

            a#goto {
                button {
                    color: theme(primary);
                    background: white;
                }
            }
        }
    }
}


@media only screen and (max-width: 784px) {
    main {
        flex-direction: column;
        margin-top: 1rem;
        #left {
            h1 {
                margin-top: 3rem;
            }
        }
        #right {
            margin-top: 0;
            padding: 0;
            a#login button {
                margin-top: 3rem    !important;
            }
        }
    }
}

@media only screen and (max-width: 394px) {
    main {
        width: 98%;
    }
}