@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: Montserrat;
    background: #e2ddff;
    margin: 0;
}

header {
    background: #26a5ff;
    padding: 0em;
    position: sticky;
    top: 0;
	display: grid;
	grid-template-rows:1fr;
	grid-template-columns: 1fr 5fr;
	margin: 0;
}

nav {
	margin: 0;
	padding: 1em .5em 0em;
}

#menu-titles {
	padding: 0;
	margin: 0;
}

#menu-titles li {
	display: inline;
	list-style-type: none;
	padding: .5em 1em;
	margin: 0;
	background: rgba(173,216,230,0.5); /* lightblue but with opacity */
	cursor: pointer;
	border-radius: .5em .5em 0 0;
}

#menu-titles li.viewing {
	background: lightblue;
	padding: .5em 1.5em;
}	

.menu {
	margin: .5em 0em;
	padding: .5em 1em 1em;
	height: 4em;
	border-radius: 0 .5em .5em .5em;
}

.menu.viewing {
	grid-column: 2;
	background: lightblue;
}

.menu:not(.viewing) {
	display: none;
	background: lightblue;
}

#page {
	display: block;
	margin: 1em;
	margin-right: auto;
	margin-left: auto;
	width: 1050px; /*  need to find better way */
}

h1 {
    margin: 1.5em;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label {
	padding: .5em .5em;
}

input[type="radio"]:checked+label {
	background: rgba(38,21,255,.25);
	border-radius: 0.6em;
}

#mode-placeholder {
	padding: .5em 0em;
}
