doctype html
html(lang="en")
	head
		title PipeScore
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js")
		script(src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous")
		script(src="/p5.pdf.js")
		script(src="/stave.js")
		script(src="/demonote.js")
		script(src="/note.js")
		script(src="/script.js")
		script(src="/ui.js")
		link(rel="stylesheet" type="text/css" href="/style.css")
	body
		header
			h1 PipeScore
			nav
				ul#menu-titles
					li#note-title.menu-title.viewing Note
					li#gracenote-title.menu-title Gracenote
					li#text-title.menu-title Text
					li#layout-title.menu-title Layout
					li#file-title.menu-title File
				div#note.menu.viewing
					form#note_mode
						input(type="radio" name="note" value="semibreve" id="semibreve")
						label(for="semibreve") Semibreve
						input(type="radio" name="note" value="minim" id="minim")
						label(for="minim") Minim
						input(type="radio" name="note" value="crotchet" id="crotchet" checked)
						label(for="crotchet") Crotchet
						input(type="radio" name="note" value="quaver" id="quaver")
						label(for="quaver") Quaver
						input(type="radio" name="note" value="semiquaver" id="semiquaver")
						label(for="semiquaver") Semiquaver
						input(type="radio" name="note" value="demisemiquaver" id="demisemiquaver")
						label(for="demisemiquaver") Demisemiquaver
					div#mode-placeholder
							label(for="mode") Mode: 
							select#mode
								option(value="create") Create
								option(value="select") Select
							button(id="dot-notes-button") Dot Selected
				div#gracenote.menu
					p Gracenote menu
				div#text.menu
					p Text menu
				div#layout.menu
					p Layout menu
				div#file.menu
					p File menu
		div#page
