doctype html
html(lang="en")
	head
		title PipeScore
		link(rel="shortcut icon" href="/images/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js")
		script(src="/p5.pdf.js")
		script(src="/stave.js")
		script(src="/demonote.js")
		script(src="/note.js")
		script(src="/gracenote.js")
		script(src="/barline.js")
		script(src="/score.js")
		script(src="/script.js")
		script(defer,src="/ui.js")
		link(rel="stylesheet" type="text/css" href="/style.css")
	body
		noscript Please enable JavaScript in your browser to use this app.
		div#grid-unsupported
			p Your browser doesn't support the latest spec. Consider downloading a modern browser (e.g. Chrome, Firefox).
		div#too-small
			img(src="https://cdn.shopify.com/s/files/1/1061/1924/products/Grinmacing_Face_Emoji_grande.png?v=1480481035", alt="Uh oh.", width="80px", height="80px")
			p Your screen's resolution is too low for this app - you need a bigger monitor. PipeScore is not yet supported for mobile devices or tablets.
			p We thank you for your patience.
		div#error
			p An unexplained error occurred. Try reloading the page.
		header
			nav
				ul#menu-titles
					li#title PipeScore
					li#note-title.menu-title.viewing Note
					li#gracenote-title.menu-title Gracenote
					li#text-title.menu-title Text
					li#layout-title.menu-title Layout
					li#file-title.menu-title File
				div#note.menu.viewing
					section#note-type
						h1.title Note type
						ul#note-ul
							li
								input(type="radio" name="note" value="semibreve" id="semibreve")
								label(for="semibreve") Semibreve
							li
								input(type="radio" name="note" value="minim" id="minim")
								label(for="minim") Minim
							li
								input(type="radio" name="note" value="crotchet" id="crotchet" checked)
								label(for="crotchet") Crotchet
							li
								input(type="radio" name="note" value="quaver" id="quaver")
								label(for="quaver") Quaver
							li
								input(type="radio" name="note" value="semiquaver" id="semiquaver")
								label(for="semiquaver") Semiquaver
							li
								input(type="radio" name="note" value="demisemiquaver" id="demisemiquaver")
								label(for="demisemiquaver") Demisemiquaver
							li
								label(id="dot-notes-label" for="dot-notes") Dot
								input(type="checkbox" value="dot-notes" name="dot-notes" id="dot-notes-button")
					section#apply-to-selected
						h1.title Apply to Selected
						button(id="group-notes-button") Group
						button(id="ungroup-notes-button") Ungroup
						button(id="delete-notes-button") Delete
					section.mode-section
						h1.title Mode
						select#mode-note
							option(value="create") Create
							option(value="select") Select
				div#gracenote.menu
					section#gracenote-mode
						h1.title Gracenote Mode
						input(type="radio" name="gracenote-mode" value="normal" id="normal" checked)
						label(for="normal") Add Gracenote
						input(type="radio" name="gracenote-mode" value="place" id="place-gracenote")
						label(for="place-gracenote") Add Standard Embellishment 
							select#gracenote-type
								option(value="d-throw") Throw on D
								option(value="b-doubling") Doubling B
								option(value="c-doubling") Doubling C
								option(value="d-doubling") Doubling D
								option(value="e-doubling") Doubling E
								option(value="f-doubling") Doubling F
					section#apply-to-selected-gracenotes
						h1.title Apply to Selected
						button(id="delete-gracenotes-button") Delete
					section.mode-section
						h1.title Mode
						select#mode-gracenote
							option(value="create") Create
							option(value="select") Select
				div#text.menu
					h1.title Text menu
				div#layout.menu
					section#bars
						h1.title Bars
						button#add-bar-before + Bar Before
						button#add-bar-after + Bar After
						button#delete-bar Delete Barline
					section.mode-section
						h1.title Mode
						select#mode-layout
							option(value="select") Select
				div#file.menu
					h1.title File menu
		div#page
